/* =================================== */
/*	Basic Style
/* =================================== */

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 21px;
  font-size: 13px;
  color: #262626;
}

ol,
ul {
  margin: 0.25;
  padding: 0.75;
  list-style: none;
}

figure,
p {
  margin: 0;
}

.register-button {
  margin: 10px;
  padding: 10px;
}

a {
  -webkit-transition: all 0.3s ease-in 1s;
  -moz-transition: all 0.3s ease-in 1s;
  -ms-transition: all 0.3s ease-in 1s;
  -o-transition: all 0.3s ease-in 1s;
  transition: all 0.3s ease-in 1s;
}

.a-alternate {
  margin: 5px;
  padding: 10px;
  color: white;
}

.a-nav-alternate {
  color: #fff;
}

.a-nav-alternate:hover {
  color: #0a1172 !important;
}
iframe {
  border: 0;
}

.row {
  margin: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 20px;
}

.create-col {
  margin: 20px;
}
.column {
  float: left;
  width: 50%;
  padding: 20px;
  height: 225px;
}

.sponsor {
  color: #000;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus,
a:hover {
  color: #0a1172;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

span.color {
  color: #449dd1;
}

body > section,
.footer {
  padding: 70px 0;
}

.sec-title {
}

.sec-title h2 {
  color: #0a1172;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.sec-sub-title {
  margin: 35px 0 45px;
}

.sec-sub-title p {
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
  color: #5b646e;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #cccccc;
}

.devider:before,
.devider:after {
  content: "______________________";
  color: #e6e8ea;
  position: relative;
  bottom: 6px;
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
  margin-bottom: 50px;
}

#preloader {
  background-color: transparent;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 47%;
  position: absolute;
  top: 48%;
}

/*=========================================
Header
==========================================*/
body {
  min-height: 200vh;
  padding: 20px;
}
.navbar-default {
  transition: 500ms ease;
  background: transparent;
}
.navbar-default.scrolled {
  background: #0a1172;
}

#navigation {
  background-color: transparent;
  border: 0 none;
  margin: 0;

  -webkit-transition: background-color 800ms linear;
  -moz-transition: background-color 800ms linear;
  -ms-transition: background-color 800ms linear;
  -o-transition: background-color 800ms linear;
  transition: background-color 800ms linear;
}

.navbar-toggle i {
  color: #fff;
}

.navbar-brand {
  padding: 0;
}

.navbar-nav li a {
  border-top: 1px solid transparent;
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
  background-color: transparent;
  border-top: 1px solid #0a1172;
  color: #fff;
}

/*=========================================
Slider
==========================================*/

#slider {
  padding: 0;
}

#slider .carousel-inner .item {
  background-size: cover;
}

.backgroundimage {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9)),
    url("../img/building.jpg");
}

.carousel-caption {
  top: 50%;
}

.carousel-caption h2 {
  font-size: 62px;
  font-weight: 300;
}

.carousel-caption h2 span {
  font-weight: 800;
}

.carousel-caption h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 6px 0 20px;
}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
  color: rgba(255, 255, 255, 0.3);
  content: "___";
  position: relative;
  top: -8px;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}

.social-links {
  margin-top: 5%;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #fff;
}

.carousel-indicators {
  bottom: 10px;
  left: inherit;
  margin: 0;
  right: 30px;
  top: 49%;
  width: 0;
}

.carousel-indicators li {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
}

/*=========================================
Features
==========================================*/

.features {
  background-color: #f4f7f9;
}

.owl-controls {
  bottom: -45px;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.owl-controls .owl-page {
  display: inline-block;
}

.owl-controls .owl-page span {
  border: 1px solid #c7ced3;
  border-radius: 20px;
  display: block;
  height: 8px;
  margin: 5px 4px;
  width: 8px;
}

.owl-controls .owl-page.active span {
  background: #062033;
  border: 0;
}

.service-icon {
  border: 1px solid #0a1172;
  border-radius: 50%;
  color: #0a1172;
  float: left;
  padding: 10px 13px;
}

.service-desc {
  margin-left: 70px;
  position: relative;
  top: 5px;
}

.service-desc h3 {
  color: #062033;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

/*=========================================
FAQ
==========================================*/
.marginal {
  margin: 0.5em !important;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-box-item {
  width: 50%;
  margin: 1em;
}

.q-text {
  margin-bottom: 0.5em;
  color: rgb(68, 157, 209);
}

/*=========================================
Our Works
==========================================*/

.work-filter {
  margin-bottom: 35px;
}

.work-filter ul li {
  display: inline-block;
}

.work-filter ul li a {
  color: #062033;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 17px;
  border-radius: 6px;
  text-transform: capitalize;
}

.work-filter ul li a:hover,
.work-filter ul li a.active {
  background-color: #0a1172;
  border-radius: 6px;
  color: #fff;
  padding: 5px 17px;
}

.mix {
  display: none;
}

.work-item {
  float: left;
  width: 25%;
  position: relative;
}

.work-item > img {
  display: block;
  height: auto;
  max-width: 100%;
}

.overlay {
  background-color: #0a1172;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;

  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: all 450ms ease-out 0s;
  -moz-transition: all 450ms ease-out 0s;
  -o-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;

  -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
  -moz-transform: rotateY(180deg) scale(0.5, 0.5);
  -ms-transform: rotateY(180deg) scale(0.5, 0.5);
  -o-transform: rotateY(180deg) scale(0.5, 0.5);
  transform: rotateY(180deg) scale(0.5, 0.5);
}

.work-item:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transform: rotateY(0deg) scale(1, 1);
  -moz-transform: rotateY(0deg) scale(1, 1);
  -ms-transform: rotateY(0deg) scale(1, 1);
  -o-transform: rotateY(0deg) scale(1, 1);
  transform: rotateY(0deg) scale(1, 1);
}

.work-item .overlay a {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20%;
  padding: 7px 10px;
}

.work-item .overlay a:hover {
  color: #fff;
}

.work-item .overlay h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 25px 0 8px;
}

.work-item .overlay p {
  font-size: 14px;
  line-height: 24px;
}

/*=========================================
Our Team Member
==========================================*/
/*
.team-row-one{
padding-bottom: 20px;
} */

.picture-style {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.center-aligned-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.member-thumb {
  width: 273px;
  position: relative;
  padding-bottom: 50px;
}

.member-thumb .overlay h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0;
}

.member-thumb .overlay {
  font-size: 16px;
  padding: 20px;
  line-height: 24px;
}

.team-member h4 {
  color: #062033;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0 8px;
}

.member-thumb:hover .overlay {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transform: rotateY(0deg) scale(1, 1);
  -moz-transform: rotateY(0deg) scale(1, 1);
  -ms-transform: rotateY(0deg) scale(1, 1);
  -o-transform: rotateY(0deg) scale(1, 1);
  transform: rotateY(0deg) scale(1, 1);
}

.team-member:hover h4 {
  color: #0a1172;
}

.team-member .social-links {
  margin-top: 24%;
}

.team-member .social-links li a {
  background-color: #0a1172;
  color: #fff;
  height: 42px;
  padding: 10px 0 0;
  width: 42px;
}

/*=========================================
Some fun facts
==========================================*/

#facts {
  background-image: url("../img/parallax/city.jpg");
  background-color: rgba(6, 32, 51, 0.8);
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.facts .devider:before,
.facts .devider:after {
  color: #737c85;
}

.facts .devider i {
  color: #fff;
}

.parallax-overlay {
  background-color: rgba(6, 32, 51, 0.8);
  padding: 70px 0;
}

.counters-item {
  color: #fff;
}

.counters-item i {
  border: 1px solid #737c85;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 120px;
  margin: 0 0 35px;
  padding: 40px 0 0;
  width: 120px;
}

.counters-item strong {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.counters-item p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  text-transform: uppercase;
}

/*=========================================
Sponsorship
==========================================*/

#sponsors {
  padding-bottom: 0;
}

.mt-20 {
  margin-top: 20px;
}

.img-max-size {
  max-width: 50%;
  max-height: 200px;
}

/*=========================================
Contact Us
==========================================*/

.contact {
  padding-bottom: 0;
}

.contact-address h3 {
  color: #062033;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-address p {
  line-height: 24px;
}

.contact-form {
}

.contact-form h3 {
  color: #062033;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-form .input-group {
  width: 100%;
}

.contact-form .form-control {
  border-color: -moz-use-text-color -moz-use-text-color #cccccc;
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  box-shadow: none;
  margin-bottom: 10px;
}

.contact-form .input-field {
  width: 48%;
  float: left;
  margin-right: 4%;
}

.contact-form .input-field:last-child {
  margin-right: 0;
}

.contact-form .form-control.error {
  border-bottom-color: #c0392b;
}

label.error {
  color: #c0392b;
  font-weight: normal;
  text-transform: capitalize;
}

.contact-form #form-submit {
  background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
  border: 0 none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  text-align: right;
  width: 150px;
}

/*=========================================
Footer
==========================================*/
.footer-social ul a {
  margin-top: 17px;
  color: white;
}

.footer-social li a {
  color: #cdd2d6;
  display: block;
  margin-bottom: 10px;
}

#map_canvas {
  height: 215px;
  width: 100%;
}

/*=========================================
Contact Us
==========================================*/

.icon-sizing {
  max-width: 50%;
}

.footer {
  background-color: #3f4bee;
  border-top: 5px solid #062033;
  color: #ffffff;
  text-decoration-color: transparent;
}

.footer a:hover {
  color: #6cb670;
}

.footer h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}

.about-us p {
  line-height: 24px;
}

.footer-single .subscribe {
  margin-bottom: 15px;
  color: white;
  position: relative;
}

.subscribe #subscribe {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 40px;
  text-indent: 10px;
  width: 100%;
}

.subscribe #subs {
  background-color: transparent;
  border: 0 none;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 6px;
}

.footer-single {
  line-height: 24px;
  color: white;
}

.footer-single ul {
  color: white;
}

.footer-single li a {
  line-height: 32px;
  color: white;
}

.footer-single p i {
  margin: 0 10px;
  color: white;
}

.credit a {
  color: #062033;
}

.credit a:hover {
  color: #fff;
}

.copyright {
  color: #fff;
  margin-top: 100px;
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
